# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
myvenv/
.env/
.venv/

# Django stuff:
*.log
db.sqlite3
.env

# VSCode or PyCharm settings (optional)
.vscode/
.idea/*.pyc
__pycache__/
